.container {
  width: 1200px;
  margin: auto;
}

.banner {
  background-image: asset-url('banner.jpg');
  background-size: cover;
  background : linear-gradient(rgba(0, 0, 0, 0.5));
  color: white;
  font-weight: bold;
  padding: 200px 0;
}

.banner-text {
  text-align: center;
  font-family: "Lucida Console", courier, monospace;


}

.banner h1 {
  font-size: 50px;
  text-shadow:  1px 2px 2px;
  background-color: rgba(211, 211, 211, 0.893);
  height: 90px;
}
/*
.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 40px;
} */

.text-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: courier, monospace;
  font-weight: bold;
  padding: 30px 0 0 40px;
  text-shadow: 2px 2px 4px red;

}

.card-anime {
  width: 300px;
  height: 300px;
  text-align: center;
  background-color: #E6C229;
  box-shadow: 10px 10px 8px;

}

.card-heroes {
  width: 300px;
  height: 300px;
  text-align: center;
  background-color: #D11149;
  box-shadow: 10px 10px 8px;
  font-family: "Lucida Console", courier, monospace;

}

.card-gaming {
  font-family: courier, monospace;
  width: 300px;
  height: 300px;
  text-align: center;
  background-color: #6610F2;
  box-shadow: 10px 10px 8px;
}

.card-anime img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}



.card-heroes img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.card-gaming img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.card-info {
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
}

.card-info h4 {
  font-family: courier, monospace;
  color: white;
}

