.banner {
  background-image: asset-url('banner.jpg');
  background-size: cover;
  background : linear-gradient(rgba(0, 0, 0, 0.5));
  color: white;
  font-weight: bold;
  font-family: "Lucida Console", courier, monospace;
  padding: 200px 0;
}

.banner-text {
   text-align: center;

}

.cards {
  display: flex;
  justify-content: space-between;
  padding: 200px;
  background-color: red;
}

.card-anime {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 4px rgb(245,245,245);
  text-align: center;
  background-color: blue;


}

.card-heroes {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 4px rgb(245,245,245);
  text-align: center;
  background-color: green;



}

.card-gaming {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 4px rgb(245,245,245);
  text-align: center;
  background-color: yellow;


}

.card-anime img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}


.card-heroes img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.card-gaming img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.card-info {
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
}
<<<<<<< HEAD
=======





>>>>>>> 149ff77a30b1e817b09a0a9e88d6c84508089100
