
<div class="banner">
  <div class="container">
    <h1>Rent your favourite fictional characters</h1>
    <p>Here something about what we offer in our web</p>
    <a class="btn btn-primary" href="#" role="button">Discover more!</a>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <div class="cards">
  </div>

  <div class="card" style="width: 20px;">
    <img src= >
  </div>

  <div class="card">
    <img src= >
  </div>

  <div class="card">
    <img src= >
  </div>
</div>

