<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);">
  <div class="banner-content">
    <h1>Rent a Fictional Character!</h1>
    <p>Having fun with Superheroes, Anime Characters or your favourite Gaming Character</p>
    <%= link_to "Add a character", new_character_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @characters.each do |character| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(244,244,244,0.3), rgba(220,220,220,0.2))">
          <div class="card-description">
            <h2><%= character.name %></h2>
          </div>
          <%= link_to "", character_path(character), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
