.card-character {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-character > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-character h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-character p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-character .card-character-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-character-infos .card-character-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.owner {
  background-color:lightgray;
}